<div class="login">
  <div class="header">
    <div class="row link-container">
      <div class="col-sm-offset-5 col-sm-1 col-xs-12">
        <a href="#/login">Login</a>
      </div>
      <div class="col-sm-1 col-xs-12">
        <a href="#/registration">Registration</a>
      </div>
    </div>   
  </div>
    
  <div class="row middle-align">    
    <div class="col-sm-offset-4 col-sm-4 col-xs-12">
    <div class="alert alert-danger alert-dismissible" role="alert" ng-show="form.invalidEmail || form.invalidPassword">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Warning!</strong> Email and password should not be empty.
    </div>
    <div class="alert alert-danger" role="alert" ng-show="form.invalidUser">
      <button type="button" class="close" data-dismiss="alert"></button>
      <strong>Warning!</strong> User not found, please go to registration.
    </div>
      <form name="userForm">
        <div class="row">
          <input name="userName" class="form-control" type="email" maxlength="30"
            placeholder="Email" ng-model="user.email"
            ng-class="{'invalid': form.invalidEmail }" 
            ng-change="form.invalidEmail = userForm.userName.$error.required" required>
        </div>
        <div class="row">
          <input name="userPassword" class="form-control" type="password"
            placeholder="Password" ng-model="user.password"
            ng-class="{'invalid': form.invalidPassword }" 
            ng-change="form.invalidEmail = userForm.userPassword.$error.required" required>
        </div>
        <div class="row">
          <input type="submit" class="btn btn-purple" value="{{labels.btn}}"
          ng-click="form.invalidEmail = userForm.userName.$error.required; form.invalidPassword = userForm.userPassword.$error.required; enterQuiz()">
        </div> 
      </form>      
    </div>
  </div>  
</div>

